body{
    background-color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    font-weight: normal;
    color: white;
    font-size: 50px;
}
.link{
    color: aquamarine;
    font-size: 16px;
}
h2{
    font-weight: 300;
    font-size: 42px;
    color: white;
}
h4{
    font-size: 21px;
    color: grey;
}
.comingsoon{
    font-weight: 300;
    font-size: 42px;
    color: white;
}
.footer{
    color: grey;
    text-align: right;
}